[submodule "Desktop/NetBeansProjects/projetExam/Desktop/NetBeansProjects/projetExam/ges.Examen_enligng"]
	path = Desktop/NetBeansProjects/projetExam/Desktop/NetBeansProjects/projetExam/ges.Examen_enligng
	url = https://github.com/ikramElkhattab/ges.Examen_enligng.git
